
			<div id="columns" class="container">
<!-- block header place -->		

<div id="slider_row" class="row" >
					<div id="top_column" class="center_column col-xs-12 col-sm-12">
						<!-- Module HomeSlider -->
						<div id="homepage-slider" class="col-xs-8">
							<div class="bx-wrapper"
								style="max-width: 779px; margin: 0px auto;">
								<div class="bx-viewport"
									style="width: 100%; overflow: hidden; position: relative; height: 448px;">
									<ul id="homeslider"
										style="max-height: 448px; width: 515%; position: relative; left: -779px;">
										<li class="homeslider-container bx-clone"
											style="float: left; list-style: none; position: relative; width: 779px;">
											<a
											href="#?utm_source=back-office&amp;utm_medium=v16_homeslider&amp;utm_campaign=back-office-EN&amp;utm_content=download"
											title="sample-3"> <img
												src="modules/homeslider/images/sample-3.jpg" width="779"
												height="448" alt="sample-3">
										</a>
											<div class="homeslider-description">
												<h2>
													EXCEPTEUR<br>OCCAECAT
												</h2>
												<p>sadf</p>
												<p>
													<button class="btn btn-default" type="button">buy it !</button>
												</p>
											</div>
										</li>
										<li class="homeslider-container"
											style="float: left; list-style: none; position: relative; width: 779px;">
											<a
											href="#?utm_source=back-office&amp;utm_medium=v16_homeslider&amp;utm_campaign=back-office-EN&amp;utm_content=download"
											title="sample-1"> <img
												src="modules/homeslider/images/sample-1.jpg" width="779"
												height="448" alt="sample-1">
										</a>
											<div class="homeslider-description">
												<h2>
													EXCEPTEUR<br>OCCAECAT
												</h2>
												<p>shop it</p>
												<p>
													<button class="btn btn-default" type="button">Shop
														now !</button>
												</p>
											</div>
										</li>
										<li class="homeslider-container"
											style="float: left; list-style: none; position: relative; width: 779px;">
											<a
											href="#?utm_source=back-office&amp;utm_medium=v16_homeslider&amp;utm_campaign=back-office-EN&amp;utm_content=download"
											title="sample-2"> <img
												src="modules/homeslider/images/sample-2.jpg" width="779"
												height="448" alt="sample-2">
										</a>
											<div class="homeslider-description">
												<h2>
													EXCEPTEUR<br>OCCAECAT
												</h2>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing
													elit. Proin tristique in tortor et dignissim. Quisque non
													tempor leo. Maecenas egestas sem elit</p>
												<p>
													<button class="btn btn-default" type="button">Shop
														now !</button>
												</p>
											</div>
										</li>
										<li class="homeslider-container"
											style="float: left; list-style: none; position: relative; width: 779px;">
											<a
											href="#?utm_source=back-office&amp;utm_medium=v16_homeslider&amp;utm_campaign=back-office-EN&amp;utm_content=download"
											title="sample-3"> <img
												src="modules/homeslider/images/sample-3.jpg" width="779"
												height="448" alt="sample-3">
										</a>
											<div class="homeslider-description">
												<h2>
													EXCEPTEUR<br>OCCAECAT
												</h2>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing
													elit. Proin tristique in tortor et dignissim. Quisque non
													tempor leo. Maecenas egestas sem elit</p>
												<p>
													<button class="btn btn-default" type="button">Shop
														now !</button>
												</p>
											</div>
										</li>
										<li class="homeslider-container bx-clone"
											style="float: left; list-style: none; position: relative; width: 779px;">
											<a
											href="#?utm_source=back-office&amp;utm_medium=v16_homeslider&amp;utm_campaign=back-office-EN&amp;utm_content=download"
											title="sample-1"> <img
												src="modules/homeslider/images/sample-1.jpg" width="779"
												height="448" alt="sample-1">
										</a>
											<div class="homeslider-description">
												<h2>
													EXCEPTEUR<br>OCCAECAT
												</h2>
												<p>working well</p>
												<p>hi are you
													<button class="btn btn-default" type="button">Buy it !</button>
												</p>
											</div>
										</li>
									</ul>
								</div>
								<div class="bx-controls bx-has-controls-direction">
									<div class="bx-controls-direction">
										<a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a>
									</div>
								</div>
							</div>
						</div>
						<!-- /Module HomeSlider -->
						<div id="htmlcontent_top">
							<ul class="htmlcontent-home clearfix row">
								<li class="htmlcontent-item-1 col-xs-4"><a href=""
									class="item-link" title=""> <img
										src="modules/themeconfigurator/img/banner-img6.jpg"
										class="item-img " title="" alt="" width="381" height="219">
								</a></li>
								<li class="htmlcontent-item-2 col-xs-4"><a href=""
									class="item-link" title=""> <img
										src="modules/themeconfigurator/img/banner-img7.jpg"
										class="item-img " title="" alt="" width="381" height="219">
								</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- blocker header finishes -->



		
				<div class="row">
					<div id="center_column" class="center_column col-xs-12 col-sm-12">
						<ul id="home-page-tabs" class="nav nav-tabs clearfix">
							<li ng-class="{active: matchesRoute('block/blockpopular')}"><a href="#/block/blockpopular" 
								>Popular</a></li>
							<li ng-class="{active: matchesRoute('block/blockspecials')}"><a href="#/block/blockspecials"
								>Specials</a></li>
							<li ng-class="{active: matchesRoute('block/blockbestsellers')}"><a href="#/block/blockbestsellers"
								>Best Sellers</a></li>
						</ul>
						<!-- Content starting -->
						<div class="tab-content">
<input class="search_query form-control ac_input" type="text" ng-model="blocksearch.productCartDesc"
	id="search_query_top" >

<!-- Products list -->
<ul id="homefeatured" 
	class="product_list grid row homefeatured tab-pane active">


	<li ng-repeat="blockValue in blockData|filter:blocksearch|orderBy:filterValue():true|limitTo:8" class="ajax_block_product col-xs-12 col-sm-4 col-md-3 {{csspopular[$index].css1}} {{csspopular[$index].css2}} {{csspopular[$index].css3}}">
									<div class="imgBox product-container" itemscope=""
										itemtype="http://schema.org/Product" ng-mouseenter="hoverPopular(csspopular[$index])" ng-mouseleave="hoverPopular(csspopular[$index])">
										<div class="left-block">
											<div class="product-image-container">
												<a class="product_img_link"
													href="#/product/{{blockValue.akProductCategories.categoryName}}/{{blockValue.productId}}"
													title="{{blockValue.productCartDesc}}" itemprop="url"> <img
													class="replace-2x img-responsive"
													ng-src="{{blockValue.productThumb}}"
													alt="{{blockValue.productCartDesc}}" title="{{blockValue.productCartDesc}}"
													width="250" height="250" itemprop="image">
												</a>
												<div class="quick-view-wrapper-mobile">
													<a class="quick-view-mobile"
														href="#"
														rel="#">
														<i class="icon-eye-open"></i>
													</a>
												</div>
											</div>

										</div>
										<div class="right-block">
											<h5 itemprop="name">
												<a class="product-name"
													href="#/product/{{blockValue.akProductCategories.categoryName}}/{{blockValue.productId}}"
													title="{{blockValue.productCartDesc}}" itemprop="url"> {{blockValue.productCartDesc}}</a>
											</h5>
											<button ng-click="cart.addItem(blockValue.productId,blockValue.productCartDesc,blockValue.productPrice,1,blockValue.productThumb,blockValue.productStock)" ng-show="csspopular[$index].popularBoolean" class="button-block">Add to Cart</button>
											<div class="content_price" ng-switch on="blockValue.productDiscountPercentage>0">
												<span class="price product-price" ng-switch-when='true'>${{(blockValue.productPrice-(((blockValue.productPrice*blockValue.productDiscountPercentage)|number:2)/100)|number:2)|number:2}}</span> 
												<span class="old-price product-price" ng-switch-when='true'> ${{blockValue.productPrice}} </span> 
												<span class="price-percent-reduction" ng-switch-when='true'>{{blockValue.productDiscountPercentage}}%</span>
												
												<span class="price product-price" ng-switch-when='false'> ${{blockValue.productPrice}} </span> 
											</div>
										</div>
									</div>
									<!-- .product-container> -->
								</li>
	</ul>
	</div>
	<!-- Content starting -->
	<!-- block footer place -->	
			
							<!-- block footer ends -->
							
									
					</div>
					<!-- #center_column -->
				</div>
				<!-- .row -->
			</div>
			<!-- #columns -->
