<div class="container-fluid">
	<div>
		<h3 class="page-subheading">Update Delivery Address</h3>
	</div>
	<form class="well form-horizontal" role="form">

		<div class="form-group">
			<label class="control-label col-sm-5" for="addresstypeName">Address
				Name:</label>
			<div class="col-sm-6">
				<input type="text" name="addresstypeNm" id="addresstypeNm"
					ng-model="selected[1].userTypeName" class="form-control"
					placeholder="Address 1" required autofocus bs-typeahead />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-5" for="firstName">First
				Name:</label>
			<div class="col-sm-6">
				<input type="text" name="firstNm" id="firstNm"
					ng-model="selected[1].userFirstName" class="form-control"
					placeholder="First Name" required autofocus bs-typeahead />
			</div>
		</div>

		<div class="form-group">
			<label for="lastName" class="col-sm-5 control-label">Last
				Name:</label>
			<div class="col-sm-6">
				<input type="text" name="lastNm" id="lastNm"
					ng-model="selected[1].userLastName" class="form-control"
					placeholder="Last Name" required autofocus bs-typeahead />
			</div>
		</div>

		<div class="form-group">
			<label for="address1" class="col-sm-5 control-label">Address
				1:</label>
			<div class="col-sm-6">
				<input type="text" name="address1" id="address1"
					ng-model="selected[1].userAddress" class="form-control"
					placeholder="Address 1" required autofocus bs-typeahead />
			</div>
		</div>

		<div class="form-group">
			<label for="address2" class="col-sm-5 control-label">Address
				2:</label>
			<div class="col-sm-6">
				<input type="text" name="address2" id=""
					address2""  ng-model="selected[1].userAddress2"
					class="form-control" placeholder="Address 2" required autofocus
					bs-typeahead />
			</div>
		</div>

		<div class="form-group">
			<label for="city" class="col-sm-5 control-label">City:</label>
			<div class="col-sm-6">
				<input type="text" name="city" id="city"
					ng-model="selected[1].userCity" class="form-control"
					placeholder="City" required bs-typeahead />
			</div>
		</div>

		<div class="form-group">
			<label for="state" class="col-sm-5 control-label">State:</label>
			<div class="col-sm-6">
				<input type="text" name="state" id="state"
					ng-model="selected[1].userState" class="form-control"
					placeholder="State" required bs-typeahead />
			</div>
		</div>

		<div class="form-group">
			<label for="country" class="col-sm-5 control-label">Country:</label>
			<div class="col-sm-6">
				<input type="text" name="country" id="country"
					ng-model="selected[1].userCountry" class="form-control"
					placeholder="Country" required bs-typeahead />
			</div>
		</div>


		<div class="form-group">
			<label for="zip" class="col-sm-5 control-label">Zip Code:</label>
			<div class="col-sm-6">
				<input type="text" name="zip" id="zip"
					ng-model="selected[1].userZip" class="form-control"
					placeholder="Zip Code" required bs-typeahead />
			</div>
		</div>




		<div class="form-group">
			<label for="phone" class="col-sm-5 control-label">Phone:</label>
			<div class="col-sm-6">
				<input type="text" name="phone" id="phone"
					ng-model="selected[1].userPhone" class="form-control"
					placeholder="Phone" required bs-typeahead />
			</div>
		</div>



		<div class="form-group">
			<label for="fax" class="col-sm-5 control-label">Fax:</label>
			<div class="col-sm-6">
				<input type="text" name="fax" id="fax"
					ng-model="selected[1].userFax" class="form-control"
					placeholder="Fax" required bs-typeahead />
			</div>
		</div>

		<div class="form-group">
			<hr noshade>
			<div class="col-sm-offset-4 col-sm-10">
				<a href="" class="btn btn-sm btn-primary"
					ng-click="updateDeliveryAddress()">Save Changes</a>
			</div>
		</div>
	</form>
</div>